<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments_final :: header_login('Verification Failed')"></head>


<body>
	<div class="wrappage">
		<header id="header" class="header-v1">
			<div th:replace="fragments_final :: head_banner('tag') "></div>
			<div th:replace="fragments_final :: header_center('tag') "></div>
		</header>
	</div>
	<div class="container" style="margin: 70px auto">
		<div class="limiter">
			<div class="container-login100">
				<div class="text-center">
					<h2>Customer Verification</h2>
					<h3>Your account was already verified, or the verification code is invalid.</h3>
				</div>

			</div>
		</div>
	</div>

	<div th:replace="fragments_final :: page_footer('tag')"></div>
	<script type="text/javascript" th:src="@{/js/searchAjax.js}"></script>
</body>
</html>